@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* minimal CSS
 * inspired by qutebrowser
 */


/* auto-hide the tab and navigation bar in a similar way to fullscreen mode */

/* User config */
#navigator-toolbox {
    /* The height of the area at the top of the screen that causes the nav-bar to be shown
     */
    --tridactyl-auto-show-zone: 10px;
}

/* Hide grey container box */
:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) { 
    max-height: 22px;
    min-height: calc(22px); /* I have no idea why just using 0 or 0px does not work... */
}

[uidensity="compact"]:root {
  --tab-min-height: 22px !important;
  --newtab-margin: -3px 0 -3px -3px !important;
}

.tabbrowser-tab {
  max-height: var(--tab-min-height) !important;
  font-family: monospace !important;
}

.tabs-newtab-button{
  margin: var(--newtab-margin) !important;
}

/* Bold text in selected tab. */

.tabbrowser-tab[selected=true] {
  font-weight: bold !important;
}

/* /1* Change background-color and text color of active tab *1/ */
/* .tab-background[selected="true"] { */
/*     background-color: #98c379 !important; */
/*     background-image: none !important; */
/* } */

/* Remove tab close button. */

.tabbrowser-tab .tab-close-button {
  display: none !important;
}

/* Remove new tab plus sign. */

.tabs-newtab-button {
  display: none !important;
}

/* If not pinned, let tabs use all the available width */
.tabbrowser-tab[fadein="true"]:not([pinned]) {
    max-width: 10000px !important;
}

/* Removes the side borders from active and inactive tabs.  */ 

.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important; /* Remove borders from inactive tabs */
}

:root {
  --tabs-border: transparent !important; /* Remove borders from active tab and below tabs */
}

/* Remove blue line above tabs. */

#tabbrowser-tabs {
    --tab-line-color: transparent !important;
}

/* Auto hide nav bar */
:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) #nav-bar {
    max-height: 0;
    min-height: 0!important;
    /* Use margin-bottom to allow trigger zones that are larger than the nav-bar */
    margin-bottom: calc(-1 * var(--tridactyl-auto-show-zone));
    opacity: 0;
} 

/* Avoid transparent background for menubar if nav-toolbox not focussed */
#navigator-toolbox:not(:hover):not(:focus-within) #toolbar-menubar > * {
    /* Colour matches the grey background of the default firefox theme. Can't see what variable it uses */
    background-color: rgb(232, 232, 231);
}


/* Make top bar more compact */

/* Make nav-bar thinner */
#nav-bar{
    padding-top: 1px !important;
    padding-bottom: 0 !important;
}

/* We need more padding when maximised (maybe just on Windows?) */
#main-window[sizemode="maximized"] #nav-bar{
    padding-top: 7px !important;
}

/* Hide URL notifications that aren't particularly useful and cover up the command line
 * TODO: move it above the command line / bring functionality into status line like Vimperator */
statuspanel[type="overLink"]{display: none !important;}

/* Partial removal of black bottom 1px line shown in fullscreen mode */
#navigator-toolbox::after { display: none !important; }

/* Remove window decorations (Close, Minimize, Fullscreen) */
#titlebar { display: none !important; }
#TabsToolbar .titlebar-placeholder { display: none !important; }
