[core]
    excludesfile = ~/.gitignore_global
	pager = less -RFX
[user]
    email = 32486983+cbows@users.noreply.github.com
    name = cbows
[push]
    followTags = true
[alias]
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    last = log -1 HEAD
    recommit = !git commit --edit --file $(git rev-parse --git-path COMMIT_EDITMSG)
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential]
    helper = cache --timeout=7200
[credential "https://github.com"]
    username = cbows
[mergetool "fugitive"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[mergetool]
    keepBackup = false
[merge]
    tool = fugitive
[include]
    path = ~/.gitconfig_local
[includeIf "gitdir:~/projects/"]
    path = ~/.gitconfig_work
[pull]
	rebase = false
	ff = only
[rebase]
	autosquash = true
[init]
	defaultBranch = main
