tags
private/
newsboat/*/cache.db
newsboat/*/history.cmdline
newsboat/*/history.search
newsboat/*/urls
lazygit/**/state.yml
nvim/**/undodir
nvim/.config/nvim/plugin/packer_compiled.lua
w3m/**/*.html
ranger/**/history
ranger/**/bookmarks
ranger/**/tagged
w3m/**/history
.mypy_cache
nvim/.config/nvim/local-settings.vim
grip/**/cache*
ipython/.ipython/profile_default/history.sqlite
ipython/.ipython/profile_default/startup/README
ipython/.jupyter/jupyter_nbconvert_config.json
ipython/.jupyter/jupyter_notebook_config.json
ipython/.jupyter/lab/
ipython/.jupyter/nbconfig/
ipython/.ipython/profile_default/db/
zsh/.oh-my-zsh/custom/*_.zsh
zsh/.oh-my-zsh/custom/*_Z.zsh
ranger/.config/ranger/plugins/*.pyo
__pycache__
nvim/.config/nvim/vimspector/gadgets/**
!nvim/.config/nvim/vimspector/gadgets/linux/.gadgets.d/**
ipython/.jupyter/migrated
